.all-items {
    height: 240px;
    width: 250px;
    padding-top: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.all-items:hover {
    box-shadow: 1px 1px 15px lightgrey;
    cursor: pointer;
}
.items img {
    width: 150px;
}
.items p {
    text-align: center;
}
.items h4,p {
    color: black;
}
.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.send-data {
    text-decoration: none;
}