.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.left-side img {
  width: 100px;
}
.right-side {
  display: flex;
  align-items: center;
}
.shopping-logo {
  height: 20px;
  color: gray;
}
.right-side div,
p,
button {
  margin-right: 30px;
  cursor: pointer;
}
.sign-up-btn {
  color: white;
  background-color: red;
  border: none;
  border-radius: 50px;
  height: 25px;
  width: 80px;
}
